<div class="signin">
  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
  <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

  <h2>Sign in to vote</h2>

  <%= form_with url: session_path do |form| %>
    <%= form.label :email_address %><br/>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
    <%= form.label :password %><br/>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
    <%= form.label :zipcode %><br/>
    <%= form.text_field :zipcode, required: true, autocomplete: "zipcode", placeholder: "Enter your zipcode", maxlength: 12 %><br>
    <%= form.submit "Sign in" %>
  <% end %>
  <br>

</div>
